#carrinho h2 {
    padding: 20px;
    color: var(--green-medium);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#carrinho .vazio {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
