.LinkCategoryItem{
    text-decoration: "none",
}

.UlCategoryItem{
    margin: "1px";
    width: "250px";
    padding:"1px";
    border:"1px"
}

.LiCategoryItem{

    list-style: "none";
    margin: "1px";
    width: "100%";
    height: 30
}

.h2CategoryItem{
    color:"black";
}