* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
   
    scroll-behavior: smooth;
  }


  
  
  html{ 
    font-size: 10px;
    --valentino: #260d33;
    --regal-blue: #003f69;
    --surfie-green: #106b87;
    --matisse: #157a8c ;
    --cloudy: #b3aca4;
    --bg-2: #F2EFEF;
  }
  